.product-image{
    height: 30rem;
    width: 25rem !important;
    object-fit: cover;
    padding:1rem 2rem 0rem 0rem;
}
.product-details{
    padding: 1rem !important;
}
.btn-addtocart{
    background-color: #fe424d !important;
    color: white !important;
}
.btn-wishlist:hover{
    border-color: #fe424d !important;
    background-color: white !important;
    color: #fe424d !important;
}
.btn-size{
    border-radius: 25px !important;
}